
<?php
    $promotions = $this->getPromotionsCollection();
    $i = 0;
?>
<?php if(count($promotions) != '0'): ?>
    <h1>Promotions</h1>
    <div class="slideshow-container">
    <ul class="slideshow">
        <?php foreach($promotions as $image): ?>
            <?php if($image['is_enabled'] == '1'): $i++ ?>
                <?php if($image['image']){ ?>
        <li><a href="<?php echo Mage::helper('core/url')->getCurrentUrl() . "/front/id/" . $image['id']; ?>"><img src="<?php echo $image['image']; ?>" alt="<?php echo $image['promotions_name']; ?>" /></a></li>
            <?php }else{ ?>
        <li><a href="<?php echo Mage::helper('core/url')->getCurrentUrl() . "/front/id/" . $image['id']; ?>"><img src="<?php echo Mage::helper('webpromotions')->getImageUrl() . '0.jpg'; ?>" alt="<?php echo $image['promotions_name']; ?>" /></a></li>
            <?php } ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
    <div class="slideshow-pager">&nbsp;</div>
    <?php if($i > '1'): ?>
    <span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span>
    <?php endif; ?>
</div>
<?php endif; ?>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('.slideshow-container .slideshow-promotions')
            .cycle({
                slides: '> li',
                pager: '.slideshow-pager',
                pagerTemplate: '<span class="pager-box"></span>',
                speed: 600,
                pauseOnHover: true,
                swipe: true,
                prev: '.slideshow-prev',
                next: '.slideshow-next',
                fx: 'scrollHorz',
                responsive:{
                    0:{
                        items:2
                    },
                    1000:{
                        items:3
                    }
                }
            });
    });
</script>

<?php
//$promotions = $this->getPromotionsCollection();
//$i = 0;
//?>
<!--<style>-->
<!--    .col-wrapper, .main, .col-main {-->
<!--        width:    100% !important;-->
<!--    }-->
<!--    .jcarousel{-->
<!--        position: relative;-->
<!--        overflow: hidden;-->
<!--    }-->
<!---->
<!--    .jcarousel ul {-->
<!--        width: 2000em;-->
<!--        position: relative;-->
<!---->
<!--        list-style: none;-->
<!--        margin: 0;-->
<!--        padding: 0;-->
<!--    }-->
<!---->
<!---->
<!--    .jcarousel li {-->
<!--        float: left;-->
<!--        padding: 1px;-->
<!--    }-->
<!--</style>-->
<!--<div class="jcarousel">-->
<!--    <ul>-->
<!--        --><?php //foreach($promotions as $image): ?>
<!--            --><?php //if($image['is_enabled'] == '1'): $i++ ?>
<!--                --><?php //if($image['image']){ ?>
<!--                    <li><a href="--><?php //echo Mage::helper('core/url')->getCurrentUrl() . "/front/id/" . $image['id']; ?><!--"><img src="--><?php //echo $image['image']; ?><!--" alt="--><?php //echo $image['promotions_name']; ?><!--" /></a></li>-->
<!--                --><?php //}else{ ?>
<!--                    <li><a href="--><?php //echo Mage::helper('core/url')->getCurrentUrl() . "/front/id/" . $image['id']; ?><!--"><img src="--><?php //echo Mage::helper('webpromotions')->getImageUrl() . '0.jpg'; ?><!--" alt="--><?php //echo $image['promotions_name']; ?><!--" /></a></li>-->
<!--                --><?php //} ?>
<!--            --><?php //endif; ?>
<!--        --><?php //endforeach; ?>
<!--    </ul>-->
<!--    <span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span>-->
<!--</div>-->
<!--<script type='text/javascript' >-->
<!--    $(function() {-->
<!--        $('.jcarousel').jcarousel({-->
<!--            slides: '> li',-->
<!--            pager: '.slideshow-pager',-->
<!--            pagerTemplate: '<span class="pager-box"></span>',-->
<!--            speed: 600,-->
<!--            pauseOnHover: true,-->
<!--            swipe: false,-->
<!--            prev: '.slideshow-prev',-->
<!--            next: '.slideshow-next',-->
<!--            fx: 'scrollHorz',-->
<!--        });-->
<!--    });-->
<!--</script>-->