<?php
    $data = $this->getPromotionsCollection();
    $blocks = $this->getBlocks($data['static_blocks']);
?>
<div class="promotions">
    <span class="h1"><?php echo $data['promotions_name']; ?></span>
    <div class="std">
        <?php echo $data['description']; ?>
    </div>
    <?php if(isset($blocks) && count($blocks) != '0'): ?>
    <?php foreach($blocks as $block): ?>
    <div class="block">
        <?php echo $block['content']; ?>
    </div>
    <?php endforeach; ?>
    <?php endif; ?>
    <div class="product">

    </div>
</div>